/* ----------
    ASIDE
  -----------*/

aside {
  display: flex;
  flex-direction: column;
  width: 15.625rem;
  background-color: #000000;
  height: 100%;
  flex-shrink: 0;  
}

.aside-nav{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 1.25rem;
}

aside a:hover{
  font-weight: 600;
  color: white;
}

/* ----------
    SEZIONE LOGHI E ICONE
  -----------*/

.logo{
  height: 5rem;
  padding: 1.25rem;
}

aside img{
  max-width: 100%;
  max-height: 100%;
}

.icon-row{
  padding: .625rem 0;
  align-items: center;
}

.icon-row img{
  width: 1.5rem;
}

.icon-row span{
  font-size: 1.25rem;
  padding-left: 1.25rem;
}

/* ----------
    PLAYLIST
  -----------*/

.playlist{
  padding-top: 1.25rem;
  font-size: 1.25rem;
  overflow: hidden;
}

.add-playlist{
  padding-top: 1.25rem;
}

.add-playlist i{
  font-size: 1.625rem;
  color: black;
  padding: .25rem;
  background-color: lightgray;
}

.playlist ul, .playlist li{
  padding-top: .625rem;
  font-size: 1.125rem;
}

.list-playlist{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* ----------
    PLAYLIST
  -----------*/

.profile{
  margin-top: auto;
  padding-right: 1.25rem;
}

.profile img{
  width: 1.5rem;
  padding-right: .375rem;
}

.account{
  padding: .625rem 0;
  color: white;
  border-top: solid .125rem white
}

.account img{
  width: 1.875rem;
  padding: .125rem .25rem;
  border-radius: 50%;
  background-color: gray;
  margin-right: 4px;
}

/*-------------
  RESPONSIVE
--------------*/

/*<----Display None----> */

.phone{
  display: none;
}

/*<------ Phone -------> */

@media screen and (max-width: 600px) {
  aside{
    width: 4.375rem;
  }

  .aside-container{
    width: 3.75rem;
  }

  .desktop{
    display: none;
  }

.phone{
    display: block;
  }
  
}

