/*----------
    COMMON  
----------*/

.font-awesome{
    font-size: 1.25rem;
}

/*----------
    FLEX  
----------*/

.flex-box{
    display: flex;
}

.align-item-center{
    align-items: center;
}

.column{
    flex-direction: column;
}

.text-center{
    text-align: center;
}

/*----------
    CONTAINERS  
----------*/

.row{
    display: flex;
    padding-top: 1.125rem;
}

.page-container{
    display: flex;
    height: calc(100% - 80px);
    background-color: #141922;
}

.main-container{
    width: 100%;
    right: 0;
    left: 15.625rem;
    padding-top: 70px;
    padding-left: .625rem;
    padding-right: .625rem;
}

/*----------
    CARD  
----------*/

.card{
    width: calc(100% / 6 - .5rem);
    margin: .25rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
}


/*----------
    RESPONSIVE  
----------*/

/*<------ Portatile -------> */

@media screen and (max-width: 1100px) {
    .card{
        width: calc(100% / 4 - .5rem);
    }
}

/*<------ Tablet/Telefono -------> */

@media screen and (max-width: 700px) {
    .card{
        width: calc(100% / 2 - .5rem);
    }
}