/*----------
    COMMON  
----------*/


/*----------
    FLEX  
----------*/

.flex-box{
    display: flex;
}

.align-item-center{
    align-items: center;
}

.column{
    flex-direction: column;
}

/*----------
    CONTAINERS  
----------*/

.row{
    display: flex;
}

.page-container{
    display: flex;
    height: calc(100% - 80px);
    background-color: #141922;
}

.aside-container{
    height: 100%;
    max-width: 12.5rem;
    padding: 1.25rem;
}

.main-container{
    width: 84%;
    right: 0;
    left: 15.625rem;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

/*----------
    CARD  
----------*/

.card{
    padding-right: 1.875rem;
}

.album-img{
    width: 12.5rem;
    height: 12.5rem;
    background: white;
}
