/* ----------
    MAIN
  -----------*/

main{
    width: calc(100% -15.625rem);
    overflow-y: auto;
}

main a:hover{
  font-weight: 600;
  color: white;
}

.categorie{
  padding-top: 1.25rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.categorie ul{
  flex-wrap: wrap;
  justify-content: center;
}

.categorie li{
  font-size: 1rem;
  padding: .625rem;
  border-bottom: .125rem solid transparent;
}


.categorie li:first-child{
  border-color: green;
}

/* ----------
    Playlist Home
  -----------*/

.title{
  padding: .625rem 0;
  display: flex;
  align-items: center;
}

.title p{
  padding: .625rem 0;
}

.album-img img{
  width: 100%;
}