/* ----------
    MAIN
  -----------*/

main{
    width: calc(100% -15.625rem);
    overflow-y: auto;
}

.categorie{
  /* height: 5.625rem; */
  padding-top: 1.25rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.categorie ul{
  flex-wrap: wrap;
  justify-content: center;
}

.categorie li{
  font-size: 1rem;
  padding: .625rem;
  border-bottom: .125rem solid transparent;
}


.categorie li:first-child{
  border-color: green;
}